.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 150ms ease;
  border: 2px solid transparent;

  &[data-selected] {
    border-color: var(--mantine-primary-color-filled);
  }

  @mixin hover {
    transform: translateY(-4px);
    box-shadow: var(--mantine-shadow-md);

    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.header {
  padding: var(--mantine-spacing-md);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}
